@model Aprende_Movil.Models.User

@{
    ViewBag.Title = "Index";
}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <style>
        * {
            box-sizing: border-box;
        }
        /*Create a center align class*/
        .centerimage {
            display: block;
            margin-left: auto;
            margin-right: auto;
            width: 100%;
            height: auto;
        }

        .bottom {
            display: block;
            margin-left: auto;
            margin-right: auto;
            width: 100%;
            vertical-align: bottom
        }
        /* Create two equal columns that floats next to each other */
        .column {
            float: left;
            width: 50%;
            padding: 10px;
        }

        /* Clear floats after the columns */
        .row:after {
            content: "";
            display: table;
            clear: both;
        }
        /* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
        @@media screen and (max-width: 600px) {
            .column {
                width: 100%;
            }
        }
    </style>
</head>
<body>
    <div class="row">
        <div class="column">
            <h2>Iniciar Sesión</h2>
            <form method="post" action= @Url.Action("Index", "Home") >
                Correo Electrónico <br />
                <input type="text" name="email" required /><br />
                Contraseña<br />
                <input type="password" name="userPassword" required /><br /> <br />
                <input type="submit" value="Iniciar Sesión" />
            </form>
        </div>
        <div class="column">
            <h2>Crear un nuevo usuario</h2>

            <form method="post">
                Nombre <br />
                <input type="text" name="userName" required /><br />
                Apellido <br />
                <input type="text" name="lastName" required /><br />
                Dirección <br />
                <input type="text" name="adress" required /><br />
                Identificación <br />
                <input type="text" name="ident" required /><br />
                Día de Nacimiento <br />
                <input type="date" name="dateBirth" min="1900-01-01" required /><br />
                Correo <br />
                <input type="text" name="correo" required /><br />
                Contraseña<br />
                <input type="password" name="userPassword" required /><br /> <br />
                <input type="submit" value="Crear Nuevo Usuario" />
            </form>
        </div>
    </div>
</body>
</html>
