@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>

    @if (ViewBag.addNew) {<h2>Agregar nueva medicina</h2> }
    else {<h2>Editar o Eliminar Medicina</h2>}

          <form method="post">
              Nombre Medicamento<br />
              <input type="text" name="medName" value=@ViewBag.name required /><br />
              Frecuencia <br />
              <input type="number" name="medFreq" value=@ViewBag.freq required /><br />
              Cantidad <br />
              <input type="number" name="medQty" value=@ViewBag.qty required /><br />
              Medida <br />
              <input type="text" name="medMsr" value=@ViewBag.msr required /><br />
              Fecha de Inicio <br />
              <input type="date" name="medStrD" min="1900-01-01" value=@ViewBag.srtD required /><br />

              @if (!ViewBag.addNew) {
          <div>
              <input type="radio" name="option" value="edit" checked>Editar<br>
          </div>
}
else {
          <div>
              <input type="radio" name="option" value="add" checked>Agregando<br>
          </div>
}
              <input type="submit" value="Confirmar" />
          </form>


</body>
</html>
