@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>

    <h2>Editar Medicina</h2>

    <form method="post">
        <fieldset>
            <legend>Editar/Eliminar:</legend>
            Nombre Medicamento<br />
            <input type="text" name="medName" value=@ViewBag.name required /><br />
            ID Medicamento <br />
            <input type="text" name="medId" value=@ViewBag.id required /><br />
            Frecuencia <br />
            <input type="number" name="medFreq" value=@ViewBag.freq required /><br />
            Cantidad <br />
            <input type="number" name="medQty" value=@ViewBag.qty required /><br />
            Medida <br />
            <input type="text" name="medMsr" value=@ViewBag.msr required /><br />
            Fecha de Inicio <br />
            <input type="datetime" name="medStrD" min="1900-01-01" value=@ViewBag.srtD required /><br />
            Fecha de Fin<br />
            <input type="datetime" name="medEndD" value=@ViewBag.endD required /><br /> <br />
        </fieldset>
        <input type="radio" name="option" value="edit" checked> Editar<br>
        <input type="radio" name="option" value="delete"> Eliminar<br>

        <input type="submit" value="Confirmar" />
    </form>


</body>
</html>
