@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <style>
        table {
            border-collapse: collapse;
            border-spacing: 0;
            width: 100%;
            border: 1px solid #ddd;
        }

        th, td {
            text-align: left;
            padding: 8px;
        }

        tr:nth-child(even) {
            background-color: #f2f2f2
        }
    </style>
</head>
<body>
    <div>
        <h2>Medicinas</h2>
        <button>Agregar nueva Medicina</button>
    </div>
    <div style="overflow-x:auto;">
        <table id="table_medicines">
            <tr>
                <th>Medicamento</th>
                <th>Tipo</th>
                <th>Frecuencia</th>
                <th>Cantidad</th>
                <th>Fecha de Inicio</th>
                <th>Fecha Final</th>
            </tr>
        </table>
    </div>
</body>
</html>